<h1 class="text text-center">Product</h1>
<div class="container">
    <div class="alert alert-warning" *ngIf="productForm.invalid && productForm.dirty">Invalid values! </div>
    <form (ngSubmit)="!productForm.invalid && saveProduct()" #productForm="ngForm">
        <fieldset class="form-group">
            <label for="description">Description</label>
            <input type="text" [(ngModel)]="product.description" class="form-control" name="description"
                required="required" />
        </fieldset>

        <fieldset class="form-group" *ngIf="!formAdd">
            <label for="brand">Brand</label>
            <input type="text" [(ngModel)]="product.brand" class="form-control" name="brand" required="required" />
        </fieldset>

        <fieldset class="form-group" *ngIf="!formAdd">
            <label for="price">Price</label>
            <input type="number" [(ngModel)]="product.price" class="form-control" name="price" required="required" />
        </fieldset>

        <fieldset class="form-group">
            <label for="targetDate">Date</label>
            <input type="date" [ngModel]="product.date | date:'yyyy-MM-dd'"
                (ngModelChange)="product.targetDate = $event" class="form-control" name="targetDate"
                required="required" />
        </fieldset>

        <br>
        <fieldset class="form-group">
            <button type="submit"  class="btn btn-success" >Save</button>
        </fieldset>

    </form>
</div>